<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/icon/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Acerca de</title>
</head>
<body>
    <header>
         <h1>Acerca de</h1>

        <nav>
            <ul>
                <li>
                    <a href="../index.html">Inicio</a>
                </li>
                <li>
                    <a href="#">Acerca de</a>
                </li>
                <li>
                    <a href="servicios.html">Servicios</a>
                </li>
            </ul>
        </nav>
    </header>
    <hr>
    <main>
        <h2>Mision</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi tempora totam culpa dolore illum laborum quo, soluta accusamus reprehenderit cumque mollitia odio, saepe vel distinctio, exercitationem labore sunt quibusdam fugiat.
            Excepturi, tenetur, consequatur sed totam deserunt nostrum tempore molestias provident corrupti sequi ipsa! Provident minima reprehenderit corporis autem excepturi corrupti qui tenetur suscipit. Earum accusamus modi ea ipsa cumque harum.
        </p>
        <br>
        <h2>Vision</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis asperiores, veritatis beatae nihil nobis ratione neque reprehenderit earum provident iure sequi magnam quis! Vitae, deleniti ducimus animi officia maxime necessitatibus.
            Recusandae repellendus officiis, excepturi enim minus officia error dolorum veritatis dolore molestias ea eaque quisquam et quae temporibus rerum natus possimus corrupti hic, est incidunt eos? Recusandae voluptate similique eos?
            Vel sit praesentium, ipsam explicabo qui tempore consequatur sed recusandae ab officia expedita et dolor, enim necessitatibus ex beatae unde voluptate debitis natus? Ex deleniti vitae hic maxime voluptates. Ipsam.
            Sed, mollitia! Fugiat perspiciatis quae aperiam iste beatae voluptatem dolore ea voluptatum ipsum minus aliquam, eos qui, atque ullam, veritatis cum! Rerum cum qui ad molestias eum? Quaerat, et ullam.
        </p>
        <br>
        <h3>Pilares tecnologicos
        </h3>
        <ol>
            <li><strong>Estructura HTML:</strong> Define la estructura de la web</li>
            <li><strong>Hojas de estilo CSS:</strong> Mejora la apariencia de la web</li>
            <li><strong>JavaScript:</strong> Añade Interactividad</li>
        </ol>

        <br>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In, accusamus!
        </p>
        <br>
        <h2>Ubicanos</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2989.340839303411!2d-90.55720506237905!3d19.832903184190112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85f833680bff61b5%3A0xa39c4b4b77854cfa!2sRosa%20de%20los%20Vientos%2C%20Puerto%20de%20Arribo!5e0!3m2!1ses!2smx!4v1761266138986!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </main>

    <footer>
        <hr>
         <small>Derechos reservados &copy;Jorge Martinez 2025</small> <br>
        <img src="img/icon/facebook.png" alt="" width="20">
        <img src="img/icon/youtube.png" alt="" width="20">
    </footer>
</body>
</html>