<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" href="img/icon/favicon.png" type="image/x-icon">
     <link rel="stylesheet" href="../CSS/style.css">
    <title>Acerca de</title>
    
</head>
<body>
        <header>
         <h1>Acerca de</h1>

        <nav>
            <ul>
                <li>
                    <a href="../index.html">Inicio</a>
                </li>
                <li>
                    <a href="acerca.html">Acerca de</a>
                </li>
                <li>
                    <a href="#">Servicios</a>
                </li>
            </ul>
        </nav>
    </header>
    <br>
    <main>
        <h2>Servicios ofrecidos</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel maiores dolorum a, numquam debitis nesciunt facere soluta possimus ad aut voluptas, corrupti laudantium quo voluptate tenetur obcaecati! Expedita, ipsam magnam.
            Aperiam culpa laudantium temporibus tempore, magni fugiat obcaecati repellat labore itaque nemo voluptatem incidunt quaerat eius inventore hic modi consectetur facere fugit accusamus quibusdam in eaque repudiandae quos enim. Delectus?
        </p>
        <table border="1"><caption><strong>Detalle de nuestros servicios</strong></caption>
            <head>
                <tr>
                    <tb>Servicio</tb>
                    <tb>Descripcion</tb>
                    <tb>Precio</tb>
                    <tb>Tecnologia</tb>
                </tr>
            </head>
            <tbody>
                <tr>
                    <td>Desarrollo Web</td>
                    <td>Creacion de sitios web personalizados y optimizados</td>
                    <td>$800</td>
                    <td>HTML, CSS, JavaScript</td>
                </tr>
                <tr>
                    <td>Aplicaciones Móviles</td>
                    <td>Desarrollo de aplicaciones para iOS y Android</td>
                    <td>$1200</td>
                    <td>React Native, Flutter</td>
                </tr>
                <tr>
                    <td>Marketing Digital</td>
                    <td>Estrategias de marketing en redes sociales y SEO</td>
                    <td>$600</td>
                    <td>Google Ads, Facebook Ads</td>
                </tr>
            </tbody>
        </table>
        <br>
        <iframe width="504" height="306" src="https://www.youtube.com/embed/d1UOcUqxaI8" title="LOS MEJORES SMARTWATCH BARATOS DE 2025 | TOP 6 RELOJES INTELIGENTES CALIDAD PRECIO" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    </main>
</body>
</html>